*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  /* height: 100vh; */
}

img {
  max-width: 100%;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  color: whitesmoke;
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  padding: 3em 2em;
  border-bottom: 1px solid gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 3rem;
}

.header-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.header-subtitle-left {
  margin-right: 2em;
  align-self: flex-start;
}

.header-subtitle-right {
  color: #0c6a7a;;
  align-self: flex-end;
}

.header-cards-counter {
  margin-top: 1.25em;
  color: rgba(245, 245, 245, 0.726);
}

.cards-btn {
  margin: 1em 0 0 .5em;
  padding: 1em 1.5em;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  color: whitesmoke;
  box-shadow: 0 0 5px 3px #17303a9a;
  cursor: pointer;
}

.cards-btn + .cards-btn {
  margin-left: 1em;
}

.cards-btn:hover {
  background: #544a7d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DECBA4, #616d72, #13323f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DECBA4, #616d72, #13323f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  color: rgb(216, 216, 216);
  box-shadow: 0 0 5px 3px #2b53648a;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed
}



main {
  padding-bottom: 2em;
}

.cards-container {
  margin-top: .75em;
}

.cards-score-title {
  margin: .5em 0 .2em;
  color: rgba(245, 245, 245, 0.726);
}

.border-top {
  border-top: 7px double rgba(255, 255, 255, 0.555);
  padding: .5em 3em 0;
}

.cards-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: calc(200px * 5/7);
  border: 1px dashed rgb(255, 255, 255);
  border-radius: 10px;
  margin: .25em 0 1em;
}

.cards-img {
  border: none;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.411);
  width: 100%;
  height: 100%;
}

.footer {
  color: whitesmoke;
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  padding: 3em 5em;
  border-top: 1px solid gray;
  margin-top: 1.5em;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-counter {
  color: #0c6a7a;
  padding-left: .25em;
}

@media (max-width: 600px) {
  .cards-placeholder {
    height: 150px;
    width: calc(150px * 5/7);
  }

  .cards-img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1800px) {
  body {
    height: 100vh;
  }
}